<!DOCTYPE html>
<html lang="es">

<%- include("partials/head") -%>

    <body>
        <div class=container>
            <%- include("partials/header") -%>
                <main class="cargaP">
                    <div class="formulario">
                        <h2 class="tit-form">Editar Producto</h2>
                        <form action="/editProduc/<%= product.id %>?_method=PUT" method="POST" class="Carga-product">
                            <div class="datosProduct">
                                
                                <input type="text" required placeholder="Ancho" name="detalleProduct" value="<%= product.ancho %>">
                                <input type="text" required placeholder="Perfil" name="ProfileProduct" value="<%= product.perfil %>">
                                <input type="text" required placeholder="Rodado" name="Rolled" value="<%= product.rodado %>">
                                <input type="text" required placeholder="Marca" name="mark" value="<%= product.marca %>">
                                <input type="text" required placeholder="Modelo" name="model" value="<%= product.modelo %>">
                                <input type="text" required placeholder="Precio" name="priceProduct" value="<%= product.precio %>">
                                <div class="labelform">
                                    <label>Imagen del Producto</label>
                                </div>
                                <div class="exam">
                                    <input type="file" name="img" accept=".jpg">
                                </div>

                                <div class="button-register">
                                    <button type="submit">Editar Producto</button>
                                    <button type="reset"><a href="/">Cancelar</a></button>

                                </div>
                                 
                                    <form action="/delete/<%= product.id %>?_method=DELETE" method="POST" style="display: inline-flex"></form>
                                    <div class= "eliminar"></div>
                                    <button type="submit">Eliminar producto</button>
                                </div>
                                </form>
                                

                            </div>   
                        </form>
                    </div>
                </main>
        </div>
        <%- include("partials/footer") -%>

    </body>

</html>